:root{
    --yellow: #FCB72B;
    --DarkNavy: #495567;
    --dimGrey: #495567;
    --light-grey: #E5ECF4;
    --snow:  #F2F5F9;
    --grey: #939CAA;
    --light-yellow:#FFF4DF;
    --font-one: "Space Mono", monospace;
    --font-two:  "Lexend Deca", sans-serif;
}



